@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

/* General Navbar css starts here */
.navbarContainer{
  display: block;
  top:0;
}

section{
  display: none;
}

/* General Navbar css ends here */
header{
  position: absolute;
}


/* Login page css starts here */
#loginContainerCard{
max-width: 550px;
margin: auto;
margin-top: 300px;
padding-bottom: 40px;
padding-top: 50px;
padding-right: 50px;
padding-left: 50px;
}

#btnContainer{
  padding-top: 20px;
}

/* Login page css ends here */

/*Signup page css starts here*/
#singupContainerCard{
max-width: 550px;
margin: auto;
margin-top: 300px;
padding-bottom: 40px;
padding-top: 50px;
padding-right: 50px;
padding-left: 50px;
}

#signUpBody{
background-color: #121212;

}

#signupContainerBtn{
  padding-top: 20px;
}

/*Signup page css ends here*/

/*coverLetterPage css starts here*/
#pageBody{
  display: flex;
  
}

#letterBody{
  margin-top: 50px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-flow: column wrap;
  overflow: auto;
  align-content: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

div.column{
  padding: 30px;
  max-width: 1000px;
}

/*coverLetterPage css ends here*/

/* Create Page css starts */
header{
  bottom: 50px;
  left: 50px;
  top: 150px;
  max-width:fit-content;
  border-radius: 5px;
}


/* Create Page css starts */

/*Loading skeleton CSS*/

/* Media Queries here */