/* Login page css code */
#loginContainerCard{
max-width: 550px;
margin: auto;
margin-top: 300px;
padding-bottom: 40px;
padding-top: 50px;
padding-right: 50px;
padding-left: 50px;
}

#btnContainer{
  padding-top: 20px;
}


/*Signup page css code*/
#singupContainerCard{
max-width: 550px;
margin: auto;
margin-top: 300px;
padding-bottom: 40px;
padding-top: 50px;
padding-right: 50px;
padding-left: 50px;
}

#signUpBody{
background-color: #121212;

}

#signupContainerBtn{
  padding-top: 20px;
}

.navbarContainer{
  display: block;
  top:0;
}

/*coverLetterPage*/



/* body{
  background-color: #121212;
} */
/*Loading skeleton CSS*/