/* General Navbar css starts here */
.navbarContainer{
  display: block;
  top:0;
}


/* General Navbar css ends here */

/* Login page css starts here */
#loginContainerCard{
max-width: 550px;
margin: auto;
margin-top: 300px;
padding-bottom: 40px;
padding-top: 50px;
padding-right: 50px;
padding-left: 50px;
}

#btnContainer{
  padding-top: 20px;
}

/* Login page css ends here */

/*Signup page css starts here*/
#singupContainerCard{
max-width: 550px;
margin: auto;
margin-top: 300px;
padding-bottom: 40px;
padding-top: 50px;
padding-right: 50px;
padding-left: 50px;
}

#signUpBody{
background-color: #121212;

}

#signupContainerBtn{
  padding-top: 20px;
}

/*Signup page css ends here*/

/*coverLetterPage css starts here*/
#letterBody{
  margin-top: 300px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-flow: column wrap;
  overflow: auto;
  align-content: flex-start;
}

div.column{
  padding: 30px
}

/*coverLetterPage css ends here*/

/* Create Page css starts */

#templateNavMenu{
  bottom: 50px;
  left: 50px;
  top: 150px;
  max-width:fit-content;
  border-radius: 5px;
}


/* Create Page css starts */

/*Loading skeleton CSS*/

/* Media Queries here */